html{
  overflow-y: scroll;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-title{
  padding-top:5px;
	font-weight:900;
	font-size:38px;
	text-align:center;
  color: #555;
}

.language-flag-container{
  float: right;
}

.language-flag-container .flag {
  cursor: pointer;
  cursor: hand;
  width: 35px;
  margin: 3px;
}

.mainContent{
  margin-top: 15px;
	margin-right:auto;
	margin-left:auto;
	width:1000px;
}

.main-tab-content{
  font-size: 20px;
  padding: 15px;
}

.reviews-container{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.review{
  width: 40%;
  font-size: 14px;
  display: flex;
  flex-flow: column wrap;
  padding: 2px;
  margin: 20px;
}

.review .paragraph{

  padding: 5px;
  text-align: justify;
}

.review .signature{
  margin: 0px 20px 10px 10px;
  text-align: right;
  color: #555;
}

.fleet-member-card{
  background-color: #F0F0F0;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  width: 450px;
}

.fleet-member-card .photo{
  width: 180px;
  height: 180px;
}

.fleet-member-card .title{
  text-align: center;
}

.fleet-member-card .central{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.fleet-member-card .central .img-container{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fleet-member-card .central .data{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 14px;
  width: 250px;
}

.cardrow{
  width: 100%;
}

.fleet-member-card .central .data .cardrow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 200%;
}

.fleet-member-card .central .data .cardrow .title {
  font-weight: bold;
  width: 90px;
  text-align: right;
  padding-right: 10px;
}

.fleet-member-card .description{
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  height: 55px;
  text-align: justify;
}

.fleet-members{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.service-container .left-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 550px;
  padding: 10px;
  margin: 5px;
}

.service-container .item{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-container .item .title{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.service-container .item .paragraph{
  text-align: center;
}

.rotating-images {
  width:400px;
  height:400px;
}

.cover-slider-item{
  display: none;
  width: 80%;
}

.contact-card{
  width:  100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-card .contact-row{
  margin-top: 10px;
  margin-bottom:10px;
}
