<ul class="nav nav-tabs">
  <li><a ng-href="/#/service">{{'service' | translate}}</a></li>
  <li class="active"><a ng-href="/#/ourfleet">{{'our_fleet' | translate}}</a></li>
  <li><a ng-href="/#/whyus">{{'why_us' |   translate}}</a></li>
  <li><a ng-href="/#/contact">{{'contact' | translate}}</a></li>
</ul>

<section class="main-tab-content">
  <div ng-controller="ForkliftsIndexCtrl" class="fleet-members">


    <div ng-repeat="forklift in forklifts">
      <div class="fleet-member-card">
        <div class="title">{{forklift.make + " " + forklift.model}}</div>
        <div class="central">
          <div class="img-container" ><img ng-src="{{forklift.picture}}" class="photo"/></div>
          <div class="data">
            <div class="cardrow">
              <div class="title">{{forklift.make }}</div>
              <div>{{forklift.make}}
            </div>
            <div class="cardrow">
              <div class="title">{{'model' | translate}}</div>
              <div>{{forklift.model}}</div>
            </div>
            <div class="cardrow">
              <div class="title">{{'max_load' | translate}}</div>
              <div>{{forklift.max_load_kg}}&nbsp;kg</div>
            </div>
            <div class="cardrow">
              <div class="title">{{'max_height' | translate}}</div>
              <div>{{forklift.max_height_m}}&nbsp;m</div>
            </div>
            <div class="cardrow">
              <div class="title">{{'engine_type' | translate}}</div>
              <div>{{forklift.engine_type_trans_key | translate }}</div>
            </div>
            <div class="cardrow">
              <div class="title">{{'wheel_type' | translate}}</div>
              <div>{{forklift.wheel_type_trans_key | translate }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="description">{{forklift.trans_key | translate}}</div>
    </div>


  </div>
</div>
