<ul class="nav nav-tabs">
  <li><a ng-href="#/service" translate>{{'service'}</a></li>
  <li class="active" translate><a ng-href="#/ourfleet">{{'our_fleet'}}</a></li>
  <li><a ng-href="#/whyus" translate>{{'why_us'}}</a></li>
  <li><a ng-href="#/contact" translate>{{'contact'}}</a></li>
</ul>

<section class="main-tab-content">
  <div  class="fleet-members">


    <div ng-repeat="forklift in forklifts">
      <div class="fleet-member-card">
        <div class="title">{{forklift.make + " " + forklift.model}}</div>
        <div class="central">
          <div class="img-container" ><img ng-src="{{forklift.picture}}" class="photo"/></div>
          <div class="data">
            <div class="cardrow">
              <div class="title">{{forklift.make }}</div>
              <div>{{forklift.make}}
            </div>
            <div class="cardrow">
              <div class="title" translate>{{'model'}}</div>
              <div>{{forklift.model}}</div>
            </div>
            <div class="cardrow">
              <div class="title" translate>{{'max_load'}}</div>
              <div>{{forklift.max_load_kg}}&nbsp;kg</div>
            </div>
            <div class="cardrow">
              <div class="title" translate>{{'max_height'}}</div>
              <div>{{forklift.max_height_m}}&nbsp;m</div>
            </div>
            <div class="cardrow">
              <div class="title" translate>{{'engine_type'}}</div>
              <div translate>{{forklift.engine_type_trk}}</div>
            </div>
            <div class="cardrow">
              <div class="title" translate>{{'wheels'}}</div>
              <div>{{forklift.wheels}}</div>
            </div>
            <div class="cardrow">
              <div class="title" translate>{{'wheel_type'}}</div>
              <div translate>{{forklift.wheel_type_trk}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="description" translate>{{forklift.description_trk}}</div>
    </div>


  </div>
</div>
