<ul class="nav nav-tabs">
  <li><a ng-href="#/service" translate>{{'service'}}</a></li>
  <li><a ng-href="#/ourfleet" translate>{{'our_fleet'}}</a></li>
  <li class="active" translate><a ng-href="#/whyus">{{'why_us'}}</a></li>
  <li><a ng-href="#/contact" translate>{{'contact'}}</a></li>
</ul>

<section class="main-tab-content">

  <div class="reviews-container">

    <div ng-repeat="review in reviews" class="review">
      <div class="paragraph"><i translate>{{review.review_text_trk}}</i></div>
      <div class="signature">{{review.customer_name + ", " + review.location}}</div>
    </div>

  </div>

</section>
