<ul class="nav nav-tabs">
  <li><a ng-href="/#/service">{{'service' | translate}}</a></li>
  <li><a ng-href="/#/ourfleet">{{'our_fleet' | translate}}</a></li>
  <li class="active"><a ng-href="/#/whyus">{{'why_us' |   translate}}</a></li>
  <li><a ng-href="/#/contact">{{'contact' | translate}}</a></li>
</ul>

<section class="main-tab-content">

  <div class="reviews-container" ng-controller="ReviewsIndexCtrl">

    <div ng-repeat="review in reviews" class="review">
      <div class="paragraph"><i>{{review.review_text_trk | translate}}</i></div>
      <div class="signature">{{review.customer_name + ", " + review.location}}</div>
    </div>

  </div>

</section>
