<nav-tabs current-tab="serviceTab"></nav-tabs>

<section class="main-tab-content">
  <div class="service-container">
    <div class="left-content">

      <div class="item">
        <div class="title" translate>{{'trust'}}</div>
        <div class="paragraph" translate>{{'trust_text'}}</div>
      </div>

      <div class="item">
        <div class="title" translate>{{'price_value'}}</div>
        <div class="paragraph" translate>{{'price_value_text'}}</div>
      </div>

      <div class="item">
        <div class="title" translate>{{'professionalism'}}</div>
        <div class="paragraph" translate>{{'professionalism_text'}}</div>
      </div>

    </div>
    <div class="rotating-images" cover-slider>
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_01.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_02.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_03.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_04.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_05.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_06.jpg" />
    </div>
  </div>
  <contact-card></contact-card>
</section>
