<ul class="nav nav-tabs">
  <li class="active"><a ng-href="/#/service">Servicio</a></li>
  <li><a ng-href="/#/ourfleet">Nuestra flota</a></li>
  <li><a ng-href="/#/whyus">Por qué nosotros</a></li>
  <li><a ng-href="/#/contact">Contáctese</a></li>
</ul>

<section class="main-tab-content">
  <div class="service-container">
    <div class="left-content">

      <div class="item">
        <div class="title">Confianza</div>
        <div class="paragraph">
          Nos hacemos responsables de que el autoelevador esté disponible y a tiempo,
          cuando usted lo necesite.
        </div>
      </div>

      <div class="item">
        <div class="title">Precio</div>
        <div class="paragraph">
          Tarifas muy razonables. ¡Cobramos por hora o <em>fracción</em>!
        </div>
      </div>

      <div class="item">
        <div class="title">Profesionalismo</div>
        <div class="paragraph">
          Conductores capacitados, serviciales y corteses.
        </div>
      </div>

    </div>
    <div class="rotating-images" cover-slider>
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_01.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_02.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_03.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_04.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_05.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_06.jpg" />
    </div>
  </div>
  <contact-card></contact-card>
</section>
