<ul class="nav nav-tabs">
  <li class="active"><a ng-href="/#/service">{{'service' | translate}}</a></li>
  <li><a ng-href="/#/ourfleet">{{'our_fleet' | translate}}</a></li>
  <li><a ng-href="/#/whyus">{{'why_us' | translate}}</a></li>
  <li><a ng-href="/#/contact">{{'contact' | translate}}</a></li>
</ul>

<section class="main-tab-content">
  <div class="service-container" ng-controller="OurServicesTranslationCtrl">
    <div class="left-content">

      <div class="item">
        <div class="title">{{'trust' | translate}}</div>
        <div class="paragraph">{{'trust_text' | translate}}</div>
      </div>

      <div class="item">
        <div class="title">{{'price_value' | translate}}</div>
        <div class="paragraph">{{'price_value_text' | translate}}</div>
      </div>

      <div class="item">
        <div class="title">{{'professionalism' | translate}}</div>
        <div class="paragraph">{{'professionalism_text' | translate}}</div>
      </div>

    </div>
    <div class="rotating-images" cover-slider>
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_01.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_02.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_03.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_04.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_05.jpg" />
      <img class="cover-slider-item" ng-src="images/cover-slides/autoelevador_06.jpg" />
    </div>
  </div>
  <contact-card></contact-card>
</section>
