<ul class="nav nav-tabs">
  <li><a ng-href="/#/service" >Servicio</a></li>
  <li><a ng-href="/#/ourfleet">Nuestra flota</a></li>
  <li class="active"><a ng-href="/#/whoweare">Por qué nosotros</a></li>
  <li><a ng-href="/#/contact">Contáctese</a></li>
</ul>

<section class="main-tab-content">
  <div class="tab-paragraph">
    <div class="tab-paragraph-title">Sabemos lo que se siente</div>
      Somos empresarios industriales, dueños de nuestro propio taller. Sabemos lo que significa tener al camión esperando
      y salir corriendo a buscar una alternativa, porque nuestro clarkista habitual nos falló otra vez.
    </div>
  </div>

  <div class="tab-paragraph">
    <div class="tab-paragraph-title">No hay excusas</div>
      Nuestra responsabilidad es ponerle un autoelevador en la puerta, junto con un conductor capacitado para manejarlo,
      a la hora que usted lo indique. Si ocurre algún imprevisto, nos hacemos cargo.
      Un clark estará ahí a la hora pactada.
    </div>
  </div>

  <div class="tab-paragraph">
    <div class="tab-paragraph-title">Quítese una preocupación de encima</div>
      Hacer que su empresa sea exitosa es un trabajo que requiere toda su energía.
      El carga o descarga de sus productos e insumos debería ser una experiencia placentera, no una fuente de problemas adicionales.
      Concéntrese en su negocio, deje que nosotros nos ocupemos de cargar/descargar ese camión.
    </div>
  </div>




</section>
